#### Tuples
Video Outline:
1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors


##### Introduction to Tuples
Explanation:

Tuples are ordered collections of items that are immutable.
They are similar to lists, but their immutability makes them different.
* we cant change the tuples means push data not changeable it is kind of const

In [42]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [43]:
lst=list()
print(type(lst))
tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [44]:
numbers=tuple([1,2,3,4,5,6])
print(type(numbers))
print(numbers)

<class 'tuple'>
(1, 2, 3, 4, 5, 6)

In [15]:
print(list [numbers])

list[1, 2, 3, 4, 5, 6]

In [45]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [46]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [47]:
## Accessing Tuple Elements

numbers

(1, 2, 3, 4, 5, 6)

In [48]:
print(numbers[2])
print(numbers[-1])

3
6

In [49]:
numbers[0:4]

(1, 2, 3, 4)

In [50]:
numbers[::-1]

(6, 5, 4, 3, 2, 1)

In [51]:
print(numbers)
print(mixed_tuple)

(1, 2, 3, 4, 5, 6)
(1, 'Hello World', 3.14, True)

In [75]:
## Tuple Operations

concatenation_tuple=numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

### it prints 3 times not multiply

In [53]:
mixed_tuple * 3

(1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True,
 1,
 'Hello World',
 3.14,
 True)

In [54]:
numbers *3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

### in list change possible

In [58]:
## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="Kawser"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Kawser', 3, 4, 5]

### In tuple if we change it will be error like

In [ ]:
lst=(1,2,3,4,5)
print(lst)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [ ]:
lst=(1,2,3,4,5)
print(lst)
lst[1]="Kawser"
print(lst)

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [68]:
numbers[1]="Kawser"

TypeError: 'tuple' object does not support item assignment

In [70]:
numbers

(1, 2, 3, 4, 5, 6)

* it prints 1 how many time appears in the tuple
* The value of 3 is consistent in which index.

In [71]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [72]:
## Packing and Unpacking tuple
## packing
packed_tuple=1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [76]:
##unpacking a tuple
a,b,c=packed_tuple

print(a)
print(b)
print(c)

1
Hello
3.14

In [80]:
## Unpacking with *
numbers=tuple([1,2,3,4,5,6,7,8,9])
print(type(numbers))
first,*middle,last=numbers
print(first)
print(middle)
print(last)

<class 'tuple'>
1
[2, 3, 4, 5, 6, 7, 8]
9

In [78]:
## Nested Tuple
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
print(len(lst))
lst[0][0:3]

3

[1, 2, 3]

### the easy way of understanding 2 or 3 dimentional is if start with 2 backet it is 2 dimentional and start with 3 brackets it is 3 dimentional

In [ ]:
lst=[[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [34]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [36]:
nested_tuple

((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [43]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

In [44]:
a = 5,
print(type(a))

<class 'tuple'>

#### Conclusion
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.